{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/old_style.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/reusableStyles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsiveness.css' %}" />
    <script
      src="https://kit.fontawesome.com/14bfa6f5f3.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
        <link
      rel="icon"
      type="image/png"
      href="{% static 'images/fav-icon.png' %}"
    />
    <title>{% block title %}{% endblock %} - Smart Climate Advisor</title>
  </head>
  <body>
    <!-- Navbar Section -->
    <div class="">
      <header class="header">
        <div class="navbar">
          <div class="navbar__logo">
            <img src="{% static 'images/Transparent-logo.png' %}" alt="Logo" />
          </div>

          <ul class="nav__items">
            <li>
            <a href={% url "index" %}>Home</a>
            </li>
            <li>
            <a href={% url "about" %}>About</a>
            </li>
            {% comment %} <li><a href="{% url "projects" %}">Project</a></li> {% endcomment %}
            <li><a href="{% url "contact" %}">Contact</a></li>
          </ul>

          {% if user.is_authenticated %}
          <div class="authenticated">
          <div class="nav__btn btn">
              <a href="{% url "dashboard" %}">
                <button class="btn">Dashboard</button>
              </a>
        </div>
            <div class="nav__btn btn">
              <a href="{% url "signout" %}">
            <button class="btn">Logout</button>
          </a>
          </div>
          </div>
          {% else %}
          <div class="nav__btn btn">
              <a href="{% url "signup" %}">
                <button class="btn">Signup</button>
            </a>
          </div>
            
          {% endif %}
          <div class="nav__icon"><i class="fa-solid fa-bars"></i></div>
        </div>
      </header>
    </div>
    <!-- SideBar Start -->

    <section class="sidebar__overlay">
      <div class="sidebar">
        <div class="sidebar__top">
          <div class="sidebar__header">
            <a href="{% url "index" %}" class="">
              <img src={% static "images/Transparent-logo.png" %} alt=""
              class="logo-side">
            </a>
            <div class="close__icon">
              <i class="fa-regular fa-circle-xmark closeIcon"></i>
            </div>
          </div>

          <ul class="sidebar__list">
            <li><a href={% url "index" %}>Home</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            {% comment %} <li><a href="service.html">Services</a></li> {% endcomment %}
            {% comment %} <li><a href="projects.html">Project</a></li> {% endcomment %}
            {% comment %} <li><a href="news.html">Latest News</a></li> {% endcomment %}
            <li><a href="{% url "contact" %}>Contact</a></li>
          </ul>
        </div>

        <ul class="sidebar__bottom">
          <li>
            <a href="#" id=""><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </section>
    <!-- SideBar End -->
    <!-- Content Section -->
    <div class="content">{% block content %}{% endblock %}</div>

    <!-- footer  --><!-- footer  -->
    <footer>
        <div>
            <img src="{% static "images/fav-icon.png" %}" alt="">
            <p class="remove-550">We believe that by equipping farmers with the right tools and knowledge, we can contribute to food security, economic stability, and sustainable farming practices.</p>
            </p>
            {% comment %} <div class="socials">
                <div>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="remove-770">
            <h3 id="heading-3">Explore</h3>
            <ul>
              <li>
                <a href={% url "index" %}>Home</a>
                </li>
                <li>
                <a href={% url "about" %}>About</a>
                </li>
                {% comment %} <li><a href="{% url "projects" %}">Project</a></li> {% endcomment %}
                <li><a href="{% url "contact" %}">Contact</a></li>
            </ul>
        </div>
        {% comment %} <div class="remove">
            <h3 id="heading-3">News</h3>
            <div class="news">
                <div class="new">
                    <img src="{% static "images/Rectangle 23.png" %}" alt="">
                    <div>
                        <p>Drought Alert on the 2nd July 2024 <br>
                            Farmers sho... </p>
                        <p class="color-yellow" id="date">Aug 31, 2024</p>
                    </div>
                </div>
                <div class="new">
                    <img src="{% static "images/Rectangle 23.png" %}" alt="">
                    <div>
                        <p class="remove">Why farmers should not farm from <br>
                            September to oct...</p>
                        <p class="color-yellow" id=" date">Aug 31, 2024</p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="contact-det">
            <h3 id="heading-3">Contact</h3>
            <ul class="contacts">
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>+(255) 766 969 699</p>
                </li>
                {% comment %} <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>smartclimate@gmail.com</p>
                </li> {% endcomment %}
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Nelson Mandela, Tengeru campus, P.O.BOX 447, Arusha, Tanzania.</p>
                </li>
            </ul>
        </div>
    </footer>



    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
