{% extends "base.html" %} 
{% load static %}
<div>{% block title %}Contac{% endblock %} {% block content %}
  
{% comment %} </div> {% endcomment %}

<div class="container about">
  <h1>Contact</h1>
  </p>
</div>

<main class="container">
  <div class="contact-info">
      <div>
          <h2>About Us</h2>
          <p>We believe that by equipping farmers with the right tools and knowledge, we can contribute to food security, economic stability, and sustainable farming practices.</p>
      </div>
      <div>
          <h2>Contact</h2>
          <p>+(255) 766 969 699</p>
      </div>
      <div>
          <h2>Address</h2>
          <p>Nelson Mandela, Tengeru campus, P.O.BOX 447, Arusha, Tanzania.</p>
      </div>
  </div>

  <div class="contact-details">
      <div class="map">
          {% comment %} <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16139580.849201616!2d8.677457!3d9.033873000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0baf7da48d0d%3A0x99a8fe4168c50bc8!2sNigeria!5e0!3m2!1sen!2sng!4v1725076048420!5m2!1sen!2sng"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63725.16268341695!2d36.658667364105256!3d-3.393428207501866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18371c88f2387383%3A0xbc1907f7ec497152!2sArusha%2C%20Tanzania!5e0!3m2!1sen!2sng!4v1733943959004!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="mail">
          <p class="color-yellow">Contact Us</p>
          <h1>Write a Message</h1>
          <form action="">
              <div>
                  <input type="text" name="" placeholder="FULL NAME" required>
                  <input type="email" name="" placeholder="Email Address" required>
              </div>
              <br>
              <textarea name="" cols="50" rows="8" required placeholder="Write a Message"></textarea>
              <br>
              <button class="" type="submit">Send a Message</button>
          </form>
      </div>
  </div>
</main>

{% endblock %}
